<div class="row">
  <div class="col-lg-4 col-md-12"></div>
  <div class="col-lg-4 col-md-12">
    <form [formGroup]="formAdim" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Adı</label>
        <input type="text" class="form-control" formControlName="name" />

        <!-- <h3 SORULACAK BURASI BAKALIM NE CIKACAK
          *ngIf="formAdim.get('name').touched && formAdim.get('name').invalid"
        >
          deneme
        </h3> -->
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Soyadı</label>
        <input type="text" class="form-control" formControlName="surname" />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Tel</label>
        <input type="text" class="form-control" formControlName="tel" />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Departman</label>
        <input type="text" class="form-control" formControlName="dapartman" />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <br />
      <br />

      <button type="submit" class="btn btn-secondary">Kayıt Olanlar</button>
    </form>
  </div>
  <div class="col-lg-4 col-md-12"></div>
</div>
